flows.json
[
    {
        "id": "3e1fc2edd0bcc68a",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "a5b0f7186203a209",
        "type": "ui_base",
        "theme": {
            "name": "theme-custom",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#cc5200",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#db9600",
                "baseFont": "Arial Narrow,Nimbus Sans L,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#a3a3a3",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "reset": false
            },
            "themeState": {
                "base-color": {
                    "default": "#4B7930",
                    "value": "#a3a3a3",
                    "edited": true
                },
                "page-titlebar-backgroundColor": {
                    "value": "#a3a3a3",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#000000",
                    "edited": true
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#a3a3a3",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Plataforma Virtual para parcticas de laboratorio con el brazo robotico MITSUBISHI MOVEMASTER RV-M1",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "23d860e88f7fdef4",
        "type": "mqtt-broker",
        "name": "brokermqtt",
        "broker": "ws://brokermqtt-nodered.herokuapp.com",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "068563760fb4877f",
        "type": "ui_tab",
        "name": "Inicio",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "2b43a0f36795af86",
        "type": "ui_group",
        "name": "Espacio1",
        "tab": "068563760fb4877f",
        "order": 1,
        "disp": false,
        "width": 7,
        "collapse": false,
        "className": ""
    },
    {
        "id": "70be81ff1b7dbf69",
        "type": "ui_group",
        "name": "Espacio2",
        "tab": "068563760fb4877f",
        "order": 2,
        "disp": false,
        "width": 8,
        "collapse": false,
        "className": ""
    },
    {
        "id": "da8eb53ef332f813",
        "type": "mqtt-broker",
        "name": "brokermqtt",
        "broker": "ws://brokermqtt-nodered.herokuapp.com",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "d805be7e493c5739",
        "type": "ui_tab",
        "name": "PRACTICA1 PRUEBA DE MOTORES",
        "icon": "extension",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "26efa20936ba1f8a",
        "type": "ui_tab",
        "name": "PRACTICA3-PRACTICA LIBRE",
        "icon": "gamepad",
        "order": 4,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "b984c5d5a788d16a",
        "type": "ui_group",
        "name": "Espacio1",
        "tab": "26efa20936ba1f8a",
        "order": 1,
        "disp": false,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "27c97d5860c2afa5",
        "type": "ui_group",
        "name": "PRACTICA LIBRE",
        "tab": "26efa20936ba1f8a",
        "order": 2,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "49f7744c4bc11d41",
        "type": "ui_group",
        "name": "Espacio3",
        "tab": "26efa20936ba1f8a",
        "order": 3,
        "disp": false,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "92f503ca7a98e14e",
        "type": "ui_tab",
        "name": "PRACTICA 2 - RUTINAS PROCESOS INDUSTRIALIZADOS",
        "icon": "gavel",
        "order": 3,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "14ef62444ff5e395",
        "type": "ui_group",
        "name": "RUTINAS DE PROCESOS INDUSTRIALES ROBOTIZADOS",
        "tab": "92f503ca7a98e14e",
        "order": 1,
        "disp": false,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "f6fc1243836cbf90",
        "type": "ui_group",
        "name": "Espacio 3",
        "tab": "92f503ca7a98e14e",
        "order": 3,
        "disp": false,
        "width": 8,
        "collapse": false,
        "className": ""
    },
    {
        "id": "85bc8fa46d720e4a",
        "type": "ui_tab",
        "name": "ACERCA DE",
        "icon": "error",
        "order": 5,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "25b3154a8a4c7e50",
        "type": "ui_group",
        "name": "Espacio1",
        "tab": "85bc8fa46d720e4a",
        "order": 1,
        "disp": false,
        "width": "9",
        "collapse": false,
        "className": ""
    },
    {
        "id": "1c6965d12deca91e",
        "type": "ui_group",
        "name": "Espacio2",
        "tab": "85bc8fa46d720e4a",
        "order": 3,
        "disp": false,
        "width": 12,
        "collapse": false,
        "className": ""
    },
    {
        "id": "1a8b2475250fdca4",
        "type": "ui_group",
        "name": "Espacio3",
        "tab": "85bc8fa46d720e4a",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "1b8d2e41673ca9dc",
        "type": "ui_spacer",
        "z": "3e1fc2edd0bcc68a",
        "name": "spacer",
        "group": "2b43a0f36795af86",
        "order": 2,
        "width": 2,
        "height": 1
    },
    {
        "id": "4d35e17ce6597e04",
        "type": "ui_spacer",
        "z": "3e1fc2edd0bcc68a",
        "name": "spacer",
        "group": "2b43a0f36795af86",
        "order": 4,
        "width": 2,
        "height": 1
    },
    {
        "id": "159d54beb63f172b",
        "type": "ui_spacer",
        "z": "3e1fc2edd0bcc68a",
        "name": "spacer",
        "group": "2b43a0f36795af86",
        "order": 5,
        "width": 2,
        "height": 1
    },
    {
        "id": "c8022295b79d3d3f",
        "type": "ui_spacer",
        "z": "3e1fc2edd0bcc68a",
        "name": "spacer",
        "group": "2b43a0f36795af86",
        "order": 6,
        "width": 2,
        "height": 1
    },
    {
        "id": "97ceb599e7c30672",
        "type": "ui_spacer",
        "z": "3e1fc2edd0bcc68a",
        "name": "spacer",
        "group": "2b43a0f36795af86",
        "order": 7,
        "width": 3,
        "height": 1
    },
    {
        "id": "99593d7921b7f59b",
        "type": "ui_spacer",
        "z": "3e1fc2edd0bcc68a",
        "name": "spacer",
        "group": "2b43a0f36795af86",
        "order": 9,
        "width": 2,
        "height": 1
    },
    {
        "id": "51e3177a3d88ab07",
        "type": "ui_spacer",
        "z": "3e1fc2edd0bcc68a",
        "name": "spacer",
        "group": "2b43a0f36795af86",
        "order": 10,
        "width": 3,
        "height": 1
    },
    {
        "id": "347c39d599e22b15",
        "type": "ui_spacer",
        "z": "3e1fc2edd0bcc68a",
        "name": "spacer",
        "group": "2b43a0f36795af86",
        "order": 11,
        "width": 2,
        "height": 1
    },
    {
        "id": "2785022d93489dbb",
        "type": "ui_spacer",
        "z": "3e1fc2edd0bcc68a",
        "name": "spacer",
        "group": "70be81ff1b7dbf69",
        "order": 2,
        "width": 1,
        "height": 1
    },
    {
        "id": "7bf6b592afb97261",
        "type": "ui_spacer",
        "z": "3e1fc2edd0bcc68a",
        "name": "spacer",
        "group": "70be81ff1b7dbf69",
        "order": 4,
        "width": 1,
        "height": 1
    },
    {
        "id": "d6afc2c6cbe65c9d",
        "type": "ui_spacer",
        "z": "3e1fc2edd0bcc68a",
        "name": "spacer",
        "group": "70be81ff1b7dbf69",
        "order": 5,
        "width": 1,
        "height": 1
    },
    {
        "id": "14780ab6880cf708",
        "type": "ui_spacer",
        "z": "3e1fc2edd0bcc68a",
        "name": "spacer",
        "group": "70be81ff1b7dbf69",
        "order": 6,
        "width": 1,
        "height": 1
    },
    {
        "id": "6ed2a154410dd337",
        "type": "ui_group",
        "name": "Espacio 1",
        "tab": "d805be7e493c5739",
        "order": 1,
        "disp": false,
        "width": 2,
        "collapse": false,
        "className": ""
    },
    {
        "id": "d254284efb0df77a",
        "type": "ui_group",
        "name": "IDENTIFICA LOS MOTORES DEL BRAZO ROBOTICO",
        "tab": "d805be7e493c5739",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "535f5beff829a6bf",
        "type": "ui_group",
        "name": "Espacio 3",
        "tab": "d805be7e493c5739",
        "order": 3,
        "disp": false,
        "width": 8,
        "collapse": false,
        "className": ""
    },
    {
        "id": "e3b4dad18defdf91",
        "type": "tls-config",
        "name": "",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "",
        "keyname": "",
        "caname": "",
        "servername": "",
        "verifyservercert": true,
        "alpnprotocol": ""
    },
    {
        "id": "b7dab1aa5303d38f",
        "type": "ui_group",
        "name": "SELECCIONA LA RUTINA A REALIZAR",
        "tab": "92f503ca7a98e14e",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "f70db585f01ae8c6",
        "type": "ui_spacer",
        "z": "3e1fc2edd0bcc68a",
        "name": "spacer",
        "group": "25b3154a8a4c7e50",
        "order": 2,
        "width": 1,
        "height": 1
    },
    {
        "id": "a3173b72289f9e01",
        "type": "ui_spacer",
        "z": "3e1fc2edd0bcc68a",
        "name": "spacer",
        "group": "25b3154a8a4c7e50",
        "order": 3,
        "width": 1,
        "height": 1
    },
    {
        "id": "b4a01549be442b92",
        "type": "ui_spacer",
        "z": "3e1fc2edd0bcc68a",
        "name": "spacer",
        "group": "25b3154a8a4c7e50",
        "order": 4,
        "width": 1,
        "height": 1
    },
    {
        "id": "fe78cecbcfa75a83",
        "type": "ui_spacer",
        "z": "3e1fc2edd0bcc68a",
        "name": "spacer",
        "group": "25b3154a8a4c7e50",
        "order": 5,
        "width": 1,
        "height": 1
    },
    {
        "id": "9799c8565867a5fa",
        "type": "ui_spacer",
        "z": "3e1fc2edd0bcc68a",
        "name": "spacer",
        "group": "25b3154a8a4c7e50",
        "order": 6,
        "width": 3,
        "height": 1
    },
    {
        "id": "9ebbda8ad5c4dd6f",
        "type": "ui_spacer",
        "z": "3e1fc2edd0bcc68a",
        "name": "spacer",
        "group": "25b3154a8a4c7e50",
        "order": 8,
        "width": 3,
        "height": 1
    },
    {
        "id": "7ca00ee51f064882",
        "type": "ui_spacer",
        "z": "3e1fc2edd0bcc68a",
        "name": "spacer",
        "group": "25b3154a8a4c7e50",
        "order": 9,
        "width": 3,
        "height": 1
    },
    {
        "id": "c94f8dec9e210235",
        "type": "ui_spacer",
        "z": "3e1fc2edd0bcc68a",
        "name": "spacer",
        "group": "25b3154a8a4c7e50",
        "order": 10,
        "width": 3,
        "height": 1
    },
    {
        "id": "6adb0dd10a40ec74",
        "type": "ui_spacer",
        "z": "3e1fc2edd0bcc68a",
        "name": "spacer",
        "group": "25b3154a8a4c7e50",
        "order": 11,
        "width": 3,
        "height": 1
    },
    {
        "id": "b8e43cb1017cac6c",
        "type": "ui_spacer",
        "z": "3e1fc2edd0bcc68a",
        "name": "spacer",
        "group": "25b3154a8a4c7e50",
        "order": 12,
        "width": 3,
        "height": 1
    },
    {
        "id": "4ada53fe216c0519",
        "type": "ui_spacer",
        "z": "3e1fc2edd0bcc68a",
        "name": "spacer",
        "group": "d254284efb0df77a",
        "order": 1,
        "width": 6,
        "height": 1
    },
    {
        "id": "af99b310fa68de73",
        "type": "ui_spacer",
        "z": "3e1fc2edd0bcc68a",
        "name": "spacer",
        "group": "d254284efb0df77a",
        "order": 4,
        "width": 2,
        "height": 1
    },
    {
        "id": "84bf6ec6df4878ad",
        "type": "ui_spacer",
        "z": "3e1fc2edd0bcc68a",
        "name": "spacer",
        "group": "d254284efb0df77a",
        "order": 5,
        "width": 2,
        "height": 1
    },
    {
        "id": "efa37ce75939ec81",
        "type": "ui_spacer",
        "z": "3e1fc2edd0bcc68a",
        "name": "spacer",
        "group": "535f5beff829a6bf",
        "order": 1,
        "width": 1,
        "height": 1
    },
    {
        "id": "8d0b1ff44eb3b5b6",
        "type": "ui_spacer",
        "z": "3e1fc2edd0bcc68a",
        "name": "spacer",
        "group": "535f5beff829a6bf",
        "order": 3,
        "width": 1,
        "height": 1
    },
    {
        "id": "df4769e66ddb840b",
        "type": "ui_spacer",
        "z": "3e1fc2edd0bcc68a",
        "name": "spacer",
        "group": "535f5beff829a6bf",
        "order": 4,
        "width": 1,
        "height": 1
    },
    {
        "id": "884381d87988d632",
        "type": "ui_spacer",
        "z": "3e1fc2edd0bcc68a",
        "name": "spacer",
        "group": "535f5beff829a6bf",
        "order": 5,
        "width": 1,
        "height": 1
    },
    {
        "id": "2c2bf38d11e72cd8",
        "type": "ui_spacer",
        "z": "3e1fc2edd0bcc68a",
        "name": "spacer",
        "group": "14ef62444ff5e395",
        "order": 1,
        "width": 6,
        "height": 1
    },
    {
        "id": "357585e439fc5887",
        "type": "ui_spacer",
        "z": "3e1fc2edd0bcc68a",
        "name": "spacer",
        "group": "14ef62444ff5e395",
        "order": 4,
        "width": 1,
        "height": 1
    },
    {
        "id": "4d831b154435ca6b",
        "type": "ui_spacer",
        "z": "3e1fc2edd0bcc68a",
        "name": "spacer",
        "group": "14ef62444ff5e395",
        "order": 5,
        "width": 1,
        "height": 1
    },
    {
        "id": "4e1204b47a6bf1c8",
        "type": "ui_spacer",
        "z": "3e1fc2edd0bcc68a",
        "name": "spacer",
        "group": "b7dab1aa5303d38f",
        "order": 1,
        "width": 6,
        "height": 1
    },
    {
        "id": "e4c80f368bde81fe",
        "type": "ui_spacer",
        "z": "3e1fc2edd0bcc68a",
        "name": "spacer",
        "group": "f6fc1243836cbf90",
        "order": 1,
        "width": 8,
        "height": 1
    },
    {
        "id": "a295393689611fa3",
        "type": "ui_spacer",
        "z": "3e1fc2edd0bcc68a",
        "name": "spacer",
        "group": "b984c5d5a788d16a",
        "order": 1,
        "width": 6,
        "height": 1
    },
    {
        "id": "c4725fba68d76d2d",
        "type": "ui_spacer",
        "z": "3e1fc2edd0bcc68a",
        "name": "spacer",
        "group": "27c97d5860c2afa5",
        "order": 5,
        "width": 1,
        "height": 1
    },
    {
        "id": "9fbe0a6e2f99cef9",
        "type": "ui_spacer",
        "z": "3e1fc2edd0bcc68a",
        "name": "spacer",
        "group": "27c97d5860c2afa5",
        "order": 6,
        "width": 1,
        "height": 1
    },
    {
        "id": "79e9e4e9671c7b08",
        "type": "ui_spacer",
        "z": "3e1fc2edd0bcc68a",
        "name": "spacer",
        "group": "49f7744c4bc11d41",
        "order": 1,
        "width": 6,
        "height": 1
    },
    {
        "id": "63048f4d4467c80e",
        "type": "ui_spacer",
        "z": "3e1fc2edd0bcc68a",
        "name": "spacer",
        "group": "49f7744c4bc11d41",
        "order": 3,
        "width": 1,
        "height": 1
    },
    {
        "id": "f47d9e9ac1220311",
        "type": "ui_spacer",
        "z": "3e1fc2edd0bcc68a",
        "name": "spacer",
        "group": "49f7744c4bc11d41",
        "order": 4,
        "width": 1,
        "height": 1
    },
    {
        "id": "e08826645ca5b1cb",
        "type": "ui_spacer",
        "z": "3e1fc2edd0bcc68a",
        "name": "spacer",
        "group": "49f7744c4bc11d41",
        "order": 5,
        "width": 1,
        "height": 1
    },
    {
        "id": "464190e4af2ca61e",
        "type": "ui_media",
        "z": "3e1fc2edd0bcc68a",
        "group": "2b43a0f36795af86",
        "name": "",
        "width": 5,
        "height": 4,
        "order": 3,
        "category": "BR",
        "file": "BRAZO PERFIL.png",
        "layout": "adjust",
        "showcontrols": true,
        "loop": true,
        "onstart": false,
        "muted": false,
        "scope": "local",
        "tooltip": "",
        "x": 585,
        "y": 60,
        "wires": [
            []
        ],
        "l": false
    },
    {
        "id": "27c7edc51ba4311e",
        "type": "ui_media",
        "z": "3e1fc2edd0bcc68a",
        "group": "2b43a0f36795af86",
        "name": "",
        "width": 2,
        "height": 2,
        "order": 8,
        "category": "logo",
        "file": "Escudo_UD.svg.png",
        "layout": "adjust",
        "showcontrols": true,
        "loop": true,
        "onstart": false,
        "muted": false,
        "scope": "local",
        "tooltip": "",
        "x": 595,
        "y": 120,
        "wires": [
            []
        ],
        "l": false
    },
    {
        "id": "6c277e9e7bdc8c78",
        "type": "comment",
        "z": "3e1fc2edd0bcc68a",
        "name": "INICIO",
        "info": "",
        "x": 70,
        "y": 20,
        "wires": []
    },
    {
        "id": "8ccacc8a3126c344",
        "type": "comment",
        "z": "3e1fc2edd0bcc68a",
        "name": "PRACTICA 1 \"PRUEBA DE MOTORES\"",
        "info": "",
        "x": 170,
        "y": 200,
        "wires": []
    },
    {
        "id": "17d6a08655b2b1d5",
        "type": "comment",
        "z": "3e1fc2edd0bcc68a",
        "name": "PRACTICA 3 \"PRACTICA LIBRE\"",
        "info": "",
        "x": 210,
        "y": 1640,
        "wires": []
    },
    {
        "id": "c199d292d6788d05",
        "type": "comment",
        "z": "3e1fc2edd0bcc68a",
        "name": "PRACTICA 2  \"RUTINA PROCESO INDUSTRIALIZADOS\"",
        "info": "",
        "x": 230,
        "y": 760,
        "wires": []
    },
    {
        "id": "78d82ca447c7487b",
        "type": "ui_template",
        "z": "3e1fc2edd0bcc68a",
        "group": "2b43a0f36795af86",
        "name": "Mensaje INICIO 1",
        "order": 1,
        "width": 7,
        "height": 3,
        "format": "<div style=\"display: flex; justify-content: center;\">\n    <p style=\"text-align: center; font-size: 20px;\">¡Bienvenidos! A esta Plataforma virtual para la realización de prácticas de laboratorio y manipulación de procesos\n    robotizados usando el brazo robótico MITSUBISHI MOVEMASTER RV-M1</p>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 230,
        "y": 20,
        "wires": [
            []
        ]
    },
    {
        "id": "1f00224b0e4bfc83",
        "type": "ui_template",
        "z": "3e1fc2edd0bcc68a",
        "group": "70be81ff1b7dbf69",
        "name": "M2",
        "order": 1,
        "width": 8,
        "height": 2,
        "format": "<div style=\"display: flex; justify-content: center;\">\n    <p style=\"text-align: justify;\">Estimada comunidad estudiantil. Importante utilicemos esta plataforma de manera responsable y segura Por favor, tengan\n    en cuenta lo siguiente al trabajar con el brazo robótico:</p>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 490,
        "y": 20,
        "wires": [
            []
        ]
    },
    {
        "id": "38c9105933bea29f",
        "type": "ui_template",
        "z": "3e1fc2edd0bcc68a",
        "group": "70be81ff1b7dbf69",
        "name": "M3",
        "order": 3,
        "width": 7,
        "height": 4,
        "format": "<div style=\"display: flex; justify-content: center;\">\n    <p style=\"text-align: justify;\">* Asegúrense de que el brazo robótico esté en buen estado antes de usarlo. <br>* Utilicen el brazo robótico sólo para fines\n    autorizados. <br>* No realicen ajustes o modificaciones sin autorización previa. <br>* Trabajen siempre con precaución y de\n    manera consciente de sus alrededores.</p>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 610,
        "y": 20,
        "wires": [
            []
        ]
    },
    {
        "id": "7d7e3ff8d4392abc",
        "type": "ui_template",
        "z": "3e1fc2edd0bcc68a",
        "group": "70be81ff1b7dbf69",
        "name": "M4",
        "order": 7,
        "width": 8,
        "height": 3,
        "format": "<div style=\"display: flex; justify-content: center;\">\n    <p style=\"text-align: justify;\">Recuerden, el brazo robótico es una herramienta potente que puede ser peligrosa si no se utiliza de manera adecuada. Por\n    lo tanto, es importante que sigamos estas intrucciones para garantizar la seguridad de todos. Cuidemos entre todos los\n    equipos del laboratorio de electrónica de la Universidad.</p>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 730,
        "y": 20,
        "wires": [
            []
        ]
    },
    {
        "id": "1da2a69589fca069",
        "type": "ui_button",
        "z": "3e1fc2edd0bcc68a",
        "name": "POS INI",
        "group": "6ed2a154410dd337",
        "order": 1,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "POS INI",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "Selecciono POS INICIAL",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 160,
        "y": 280,
        "wires": [
            [
                "9e56f63bf97852e1",
                "fa5cbfc9a3088da7",
                "561e1ac87d640956"
            ]
        ]
    },
    {
        "id": "723ff08be059dd86",
        "type": "ui_button",
        "z": "3e1fc2edd0bcc68a",
        "name": "MOTOR 6",
        "group": "6ed2a154410dd337",
        "order": 2,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "MOTOR 6",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "Selecciono motor 6",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 150,
        "y": 320,
        "wires": [
            [
                "6aaae5c92cbec525",
                "9732c259ac807962",
                "121fa34aa07696e4",
                "fa5cbfc9a3088da7",
                "561e1ac87d640956"
            ]
        ]
    },
    {
        "id": "246feab69f7a63df",
        "type": "ui_button",
        "z": "3e1fc2edd0bcc68a",
        "name": "MOTOR 5",
        "group": "6ed2a154410dd337",
        "order": 3,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "MOTOR 5",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "Selecciono motor 5",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 150,
        "y": 360,
        "wires": [
            [
                "6aaae5c92cbec525",
                "9732c259ac807962",
                "121fa34aa07696e4",
                "fa5cbfc9a3088da7",
                "561e1ac87d640956"
            ]
        ]
    },
    {
        "id": "0f5c862a9a013d25",
        "type": "ui_button",
        "z": "3e1fc2edd0bcc68a",
        "name": "MOTOR 4",
        "group": "6ed2a154410dd337",
        "order": 4,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "MOTOR 4",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "Selecciono motor 4",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 150,
        "y": 400,
        "wires": [
            [
                "6aaae5c92cbec525",
                "9732c259ac807962",
                "121fa34aa07696e4",
                "fa5cbfc9a3088da7",
                "561e1ac87d640956"
            ]
        ]
    },
    {
        "id": "871bfe3873a0b51c",
        "type": "ui_button",
        "z": "3e1fc2edd0bcc68a",
        "name": "MOTOR 3",
        "group": "6ed2a154410dd337",
        "order": 5,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "MOTOR 3",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "Selecciono motor 3",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 150,
        "y": 440,
        "wires": [
            [
                "6aaae5c92cbec525",
                "9732c259ac807962",
                "121fa34aa07696e4",
                "fa5cbfc9a3088da7",
                "561e1ac87d640956"
            ]
        ]
    },
    {
        "id": "2de1639857f05b26",
        "type": "ui_button",
        "z": "3e1fc2edd0bcc68a",
        "name": "MOTOR 2",
        "group": "6ed2a154410dd337",
        "order": 6,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "MOTOR 2",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "Selecciono motor 2",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 150,
        "y": 480,
        "wires": [
            [
                "6aaae5c92cbec525",
                "9732c259ac807962",
                "121fa34aa07696e4",
                "fa5cbfc9a3088da7",
                "561e1ac87d640956"
            ]
        ]
    },
    {
        "id": "ae1e6c111f94c8ea",
        "type": "ui_button",
        "z": "3e1fc2edd0bcc68a",
        "name": "MOTOR 1",
        "group": "6ed2a154410dd337",
        "order": 7,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "MOTOR 1",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "Selecciono motor 1",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 150,
        "y": 520,
        "wires": [
            [
                "6aaae5c92cbec525",
                "9732c259ac807962",
                "121fa34aa07696e4",
                "fa5cbfc9a3088da7",
                "561e1ac87d640956"
            ]
        ]
    },
    {
        "id": "6aaae5c92cbec525",
        "type": "change",
        "z": "3e1fc2edd0bcc68a",
        "name": "",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "Selecciono motor 6",
                "fromt": "str",
                "to": "GC",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "Selecciono motor 5",
                "fromt": "str",
                "to": "MJ 0, 0, 0, 0, 70",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "Selecciono motor 4",
                "fromt": "str",
                "to": "MJ 0, 0, 0, 90, 0",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "Selecciono motor 3",
                "fromt": "str",
                "to": "MJ 0, 0, -20, 0, 0",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "Selecciono motor 2",
                "fromt": "str",
                "to": "MJ 0, 50, 0, 0, 0",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "Selecciono motor 1",
                "fromt": "str",
                "to": "MJ 70, 0, 0, 0, 0",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 440,
        "y": 380,
        "wires": [
            [
                "2551948c08db2a1e",
                "fa84519250563416",
                "78067c49275237b7"
            ]
        ]
    },
    {
        "id": "9e56f63bf97852e1",
        "type": "change",
        "z": "3e1fc2edd0bcc68a",
        "name": "",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "Selecciono POS INICIAL",
                "fromt": "str",
                "to": "NT",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 460,
        "y": 320,
        "wires": [
            [
                "b2d35b1bb31efd71",
                "fa84519250563416",
                "78067c49275237b7"
            ]
        ]
    },
    {
        "id": "b2d35b1bb31efd71",
        "type": "delay",
        "z": "3e1fc2edd0bcc68a",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "minutes",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 640,
        "y": 300,
        "wires": [
            [
                "51219b1fbab750f6"
            ]
        ]
    },
    {
        "id": "2551948c08db2a1e",
        "type": "delay",
        "z": "3e1fc2edd0bcc68a",
        "name": "",
        "pauseType": "delay",
        "timeout": "10",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 620,
        "y": 420,
        "wires": [
            [
                "51219b1fbab750f6"
            ]
        ]
    },
    {
        "id": "51219b1fbab750f6",
        "type": "change",
        "z": "3e1fc2edd0bcc68a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "OG",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "GC",
                "fromt": "str",
                "to": "GO",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 800,
        "y": 320,
        "wires": [
            [
                "fa84519250563416",
                "78067c49275237b7"
            ]
        ]
    },
    {
        "id": "fa84519250563416",
        "type": "debug",
        "z": "3e1fc2edd0bcc68a",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 960,
        "y": 380,
        "wires": []
    },
    {
        "id": "78067c49275237b7",
        "type": "mqtt out",
        "z": "3e1fc2edd0bcc68a",
        "name": "COM PDM",
        "topic": "teste/mqtt/serial",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "da8eb53ef332f813",
        "x": 1175,
        "y": 480,
        "wires": [],
        "l": false
    },
    {
        "id": "9732c259ac807962",
        "type": "ui_text",
        "z": "3e1fc2edd0bcc68a",
        "group": "d254284efb0df77a",
        "order": 3,
        "width": 4,
        "height": 2,
        "name": "",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 445,
        "y": 260,
        "wires": [],
        "l": false
    },
    {
        "id": "121fa34aa07696e4",
        "type": "delay",
        "z": "3e1fc2edd0bcc68a",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "minutes",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 295,
        "y": 260,
        "wires": [
            [
                "4f1e7b399dc372ec"
            ]
        ],
        "l": false
    },
    {
        "id": "4f1e7b399dc372ec",
        "type": "change",
        "z": "3e1fc2edd0bcc68a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "...",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 365,
        "y": 260,
        "wires": [
            [
                "9732c259ac807962"
            ]
        ],
        "l": false
    },
    {
        "id": "423e7b4355076e4a",
        "type": "ui_text",
        "z": "3e1fc2edd0bcc68a",
        "group": "535f5beff829a6bf",
        "order": 6,
        "width": 8,
        "height": 3,
        "name": "",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 495,
        "y": 480,
        "wires": [],
        "l": false
    },
    {
        "id": "fa5cbfc9a3088da7",
        "type": "change",
        "z": "3e1fc2edd0bcc68a",
        "name": "",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "Selecciono motor 6",
                "fromt": "str",
                "to": "Pinza: La pinza es la herramienta final del brazo robótico, y se encarga de sostener y manipular los objetos. Esta herramienta permite que el robot realice diferentes tareas. En la cadena de caracteres se utiliza con el comando GO para dar instrucción de apertura y GC para dar la instrucción de cierre.",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "Selecciono motor 5",
                "fromt": "str",
                "to": "Enrollamiento de muñeca: el enrollamiento de la muñeca permite que el brazo robótico gire alrededor de su eje rotacional. Este movimiento permite que la herramienta del robot gire en su propio eje. En la cadena de caracteres se ubica en el quinto número después del comando MJ EJ. MJ 0, 0, 0, 0, 90; en los grados de libertad de este motor están en 180°",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "Selecciono motor 4",
                "fromt": "str",
                "to": "Inclinación de Muñeca:\ten esta articulación del brazo robótico es la que permite el movimiento de la muñeca hacia arriba y hacia abajo. En la cadena de caracteres se ubica en el cuarto número después del comando MJ EJ. MJ 0, 0, 0, 90, 0; en los grados de libertad de este motor están en 90°",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "Selecciono motor 3",
                "fromt": "str",
                "to": "Codo: La articulación del codo es la segunda articulación del brazo robótico. Esta articulación permite que el brazo se doble y se extienda, y se encuentra conectada al hombro. En la cadena de caracteres se ubica en el tercer número después del comando MJ EJ. MJ 0, 0, 90, 0, 0; en los grados de libertad de este motor están en 110°",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "Selecciono motor 2",
                "fromt": "str",
                "to": "Hombro: La articulación del hombro es la primera articulación que conecta la base con el brazo del robot. Es la que permite que el brazo se mueva hacia arriba y hacia abajo. En la cadena de caracteres se ubica en el segundo número después del comando MJ EJ. MJ 0, 90, 0, 0, 0; en los grados de libertad de este motor están en 130°",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "Selecciono motor 1",
                "fromt": "str",
                "to": "Base: La base del brazo robótico se encarga de sostener todo el mecanismo. Es la parte inferior del brazo y es la que se encarga de proporcionar la estabilidad necesaria para el resto del brazo. En la cadena de caracteres se ubica en el primer número después del comando MJ EJ. MJ 90, 0, 0, 0, 0; en los grados de libertad de este motor están en 300°",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "Selecciono POS INICIAL",
                "fromt": "str",
                "to": "Posición inicial del brazo robotico",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 375,
        "y": 480,
        "wires": [
            [
                "423e7b4355076e4a",
                "530c79bb01365d8c"
            ]
        ],
        "l": false
    },
    {
        "id": "530c79bb01365d8c",
        "type": "delay",
        "z": "3e1fc2edd0bcc68a",
        "name": "",
        "pauseType": "delay",
        "timeout": "2",
        "timeoutUnits": "minutes",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 405,
        "y": 540,
        "wires": [
            [
                "62ab87677c74e092"
            ]
        ],
        "l": false
    },
    {
        "id": "62ab87677c74e092",
        "type": "change",
        "z": "3e1fc2edd0bcc68a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "...",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 455,
        "y": 540,
        "wires": [
            [
                "423e7b4355076e4a"
            ]
        ],
        "l": false
    },
    {
        "id": "bfa0ca2975dd5a12",
        "type": "ui_media",
        "z": "3e1fc2edd0bcc68a",
        "group": "d254284efb0df77a",
        "name": "",
        "width": 0,
        "height": 0,
        "order": 2,
        "category": "",
        "file": "",
        "layout": "adjust",
        "showcontrols": true,
        "loop": true,
        "onstart": false,
        "muted": true,
        "scope": "local",
        "tooltip": "",
        "x": 810,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "b2f522d79c4f6dcc",
        "type": "mqtt in",
        "z": "3e1fc2edd0bcc68a",
        "name": "",
        "topic": "teste/mqtt/foto1",
        "qos": "0",
        "datatype": "buffer",
        "broker": "da8eb53ef332f813",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 600,
        "y": 500,
        "wires": [
            [
                "d75e5b140435c9de"
            ]
        ]
    },
    {
        "id": "d75e5b140435c9de",
        "type": "change",
        "z": "3e1fc2edd0bcc68a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "mimetype",
                "pt": "msg",
                "to": "image/jpeg",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 715,
        "y": 500,
        "wires": [
            [
                "bfa0ca2975dd5a12"
            ]
        ],
        "l": false
    },
    {
        "id": "561e1ac87d640956",
        "type": "change",
        "z": "3e1fc2edd0bcc68a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "1",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 380,
        "y": 600,
        "wires": [
            [
                "d3a2a09d10c34ab7",
                "e8281bcf756531ab"
            ]
        ]
    },
    {
        "id": "e8281bcf756531ab",
        "type": "mqtt out",
        "z": "3e1fc2edd0bcc68a",
        "name": "COM PDM",
        "topic": "teste/mqtt/fotoPDM",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "da8eb53ef332f813",
        "x": 615,
        "y": 600,
        "wires": [],
        "l": false
    },
    {
        "id": "12ce81acf16ca8e0",
        "type": "change",
        "z": "3e1fc2edd0bcc68a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "1",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 545,
        "y": 660,
        "wires": [
            [
                "e8281bcf756531ab"
            ]
        ],
        "l": false
    },
    {
        "id": "d3a2a09d10c34ab7",
        "type": "delay",
        "z": "3e1fc2edd0bcc68a",
        "name": "",
        "pauseType": "delay",
        "timeout": "10",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 495,
        "y": 660,
        "wires": [
            [
                "12ce81acf16ca8e0"
            ]
        ],
        "l": false
    },
    {
        "id": "3db3364d45b8ebd7",
        "type": "http request",
        "z": "3e1fc2edd0bcc68a",
        "name": "",
        "method": "GET",
        "ret": "bin",
        "paytoqs": "ignore",
        "url": "https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEgmc__A1djvpe8AmiRx4lRgHsjE429C5p74mMKYNXDtryx0_GsjzJf0DjcxR2Srl_sgdYc1gR8fHfLEZqnyXcpkm_ZU01Zzrv_lXrL0mZsQcwuznJsy5xk6Gq6Xn0_4yDEgmIy5k_V3yjPkc0688JuyZG5lpD9rsF1dPM3KM-6tPf9Zqf3VZOoI6s7N/s320/IMG20230218160744.jpg",
        "tls": "e3b4dad18defdf91",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 290,
        "y": 80,
        "wires": [
            [
                "dce39f8ef2bcc44b"
            ]
        ]
    },
    {
        "id": "dce39f8ef2bcc44b",
        "type": "change",
        "z": "3e1fc2edd0bcc68a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "mimetype",
                "pt": "msg",
                "to": "image/jpeg",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 415,
        "y": 80,
        "wires": [
            [
                "464190e4af2ca61e"
            ]
        ],
        "l": false
    },
    {
        "id": "819d4f7ea42b92f7",
        "type": "change",
        "z": "3e1fc2edd0bcc68a",
        "name": "MOV1",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "Selecciono POS IN",
                "fromt": "str",
                "to": "OG",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 170,
        "y": 980,
        "wires": [
            [
                "2fa4ced076a4ec0a",
                "78067c49275237b7"
            ]
        ]
    },
    {
        "id": "11622f1927366f04",
        "type": "change",
        "z": "3e1fc2edd0bcc68a",
        "name": "MOV2",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "MJ 0, 50, -60, -50, 0",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 430,
        "y": 980,
        "wires": [
            [
                "4ad9d24b379f33b3",
                "78067c49275237b7"
            ]
        ]
    },
    {
        "id": "3b05087886a9d33e",
        "type": "change",
        "z": "3e1fc2edd0bcc68a",
        "name": "MOV4",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "GC",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 250,
        "y": 1040,
        "wires": [
            [
                "81da0173dd1dda9b",
                "78067c49275237b7"
            ]
        ]
    },
    {
        "id": "7a25a2eb2163a397",
        "type": "change",
        "z": "3e1fc2edd0bcc68a",
        "name": "MOV5",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "MJ 150, 60, -10, -6, 50",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 530,
        "y": 1040,
        "wires": [
            [
                "68fc903d79420eb4",
                "78067c49275237b7"
            ]
        ]
    },
    {
        "id": "c119c09acf747a45",
        "type": "change",
        "z": "3e1fc2edd0bcc68a",
        "name": "MOV3",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "MJ 0, -30, 0, 0, 0",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 690,
        "y": 980,
        "wires": [
            [
                "c2ef7b993c7fe403",
                "78067c49275237b7"
            ]
        ]
    },
    {
        "id": "2fa4ced076a4ec0a",
        "type": "delay",
        "z": "3e1fc2edd0bcc68a",
        "name": "",
        "pauseType": "delay",
        "timeout": "15",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 300,
        "y": 980,
        "wires": [
            [
                "11622f1927366f04",
                "5234ba35fd52f515"
            ]
        ]
    },
    {
        "id": "4ad9d24b379f33b3",
        "type": "delay",
        "z": "3e1fc2edd0bcc68a",
        "name": "",
        "pauseType": "delay",
        "timeout": "8",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 560,
        "y": 980,
        "wires": [
            [
                "c119c09acf747a45",
                "5234ba35fd52f515"
            ]
        ]
    },
    {
        "id": "81da0173dd1dda9b",
        "type": "delay",
        "z": "3e1fc2edd0bcc68a",
        "name": "",
        "pauseType": "delay",
        "timeout": "3",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 380,
        "y": 1040,
        "wires": [
            [
                "7a25a2eb2163a397",
                "5234ba35fd52f515"
            ]
        ]
    },
    {
        "id": "68fc903d79420eb4",
        "type": "delay",
        "z": "3e1fc2edd0bcc68a",
        "name": "",
        "pauseType": "delay",
        "timeout": "10",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 660,
        "y": 1040,
        "wires": [
            [
                "022998785afdaf20",
                "5234ba35fd52f515"
            ]
        ]
    },
    {
        "id": "c2ef7b993c7fe403",
        "type": "delay",
        "z": "3e1fc2edd0bcc68a",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 120,
        "y": 1040,
        "wires": [
            [
                "3b05087886a9d33e",
                "5234ba35fd52f515"
            ]
        ]
    },
    {
        "id": "00506c97749ad597",
        "type": "inject",
        "z": "3e1fc2edd0bcc68a",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Selecciono POS IN",
        "payloadType": "str",
        "x": 75,
        "y": 980,
        "wires": [
            [
                "819d4f7ea42b92f7"
            ]
        ],
        "l": false
    },
    {
        "id": "022998785afdaf20",
        "type": "change",
        "z": "3e1fc2edd0bcc68a",
        "name": "MOV6",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "MJ 0, -60, 30, 15, 0",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 110,
        "y": 1100,
        "wires": [
            [
                "fd891536ae16a702",
                "78067c49275237b7"
            ]
        ]
    },
    {
        "id": "fd891536ae16a702",
        "type": "delay",
        "z": "3e1fc2edd0bcc68a",
        "name": "",
        "pauseType": "delay",
        "timeout": "8",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 240,
        "y": 1100,
        "wires": [
            [
                "5ce425541a6fb4a2",
                "5234ba35fd52f515"
            ]
        ]
    },
    {
        "id": "5ce425541a6fb4a2",
        "type": "change",
        "z": "3e1fc2edd0bcc68a",
        "name": "MOV7",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "GO",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 390,
        "y": 1100,
        "wires": [
            [
                "edf8788eb55b979c",
                "78067c49275237b7"
            ]
        ]
    },
    {
        "id": "edf8788eb55b979c",
        "type": "delay",
        "z": "3e1fc2edd0bcc68a",
        "name": "",
        "pauseType": "delay",
        "timeout": "8",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 540,
        "y": 1100,
        "wires": [
            [
                "1fcea31947e571ce",
                "5234ba35fd52f515"
            ]
        ]
    },
    {
        "id": "1fcea31947e571ce",
        "type": "change",
        "z": "3e1fc2edd0bcc68a",
        "name": "MOV8",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "OG",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 690,
        "y": 1100,
        "wires": [
            [
                "dbc918165ee7f247",
                "78067c49275237b7"
            ]
        ]
    },
    {
        "id": "dbc918165ee7f247",
        "type": "debug",
        "z": "3e1fc2edd0bcc68a",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 840,
        "y": 1040,
        "wires": []
    },
    {
        "id": "8cb534034766eb8a",
        "type": "ui_button",
        "z": "3e1fc2edd0bcc68a",
        "name": "",
        "group": "b7dab1aa5303d38f",
        "order": 2,
        "width": 6,
        "height": 1,
        "passthru": false,
        "label": "RUTINA 1",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "Selecciono POS IN",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 80,
        "y": 920,
        "wires": [
            [
                "819d4f7ea42b92f7",
                "5234ba35fd52f515",
                "728d474b42c51634",
                "c685ebf4060b3958",
                "3f3b4d866b0b9d7d",
                "8194f361d8c821cd"
            ]
        ]
    },
    {
        "id": "5234ba35fd52f515",
        "type": "change",
        "z": "3e1fc2edd0bcc68a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "1",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 340,
        "y": 1180,
        "wires": [
            [
                "619d999097b348d5"
            ]
        ]
    },
    {
        "id": "619d999097b348d5",
        "type": "mqtt out",
        "z": "3e1fc2edd0bcc68a",
        "name": "COM PDM",
        "topic": "teste/mqtt/fotoRPR",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "da8eb53ef332f813",
        "x": 515,
        "y": 1180,
        "wires": [],
        "l": false
    },
    {
        "id": "8fe0ac4e27e4ce0b",
        "type": "ui_media",
        "z": "3e1fc2edd0bcc68a",
        "group": "14ef62444ff5e395",
        "name": "",
        "width": 0,
        "height": 0,
        "order": 2,
        "category": "",
        "file": "",
        "layout": "adjust",
        "showcontrols": true,
        "loop": true,
        "onstart": false,
        "muted": true,
        "scope": "local",
        "tooltip": "",
        "x": 1330,
        "y": 1300,
        "wires": [
            []
        ]
    },
    {
        "id": "6565c6c9b92fec2d",
        "type": "mqtt in",
        "z": "3e1fc2edd0bcc68a",
        "name": "",
        "topic": "teste/mqtt/foto2",
        "qos": "0",
        "datatype": "buffer",
        "broker": "da8eb53ef332f813",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1120,
        "y": 1300,
        "wires": [
            [
                "056a5b3792ab06a8"
            ]
        ]
    },
    {
        "id": "056a5b3792ab06a8",
        "type": "change",
        "z": "3e1fc2edd0bcc68a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "mimetype",
                "pt": "msg",
                "to": "image/jpeg",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1235,
        "y": 1300,
        "wires": [
            [
                "8fe0ac4e27e4ce0b"
            ]
        ],
        "l": false
    },
    {
        "id": "728d474b42c51634",
        "type": "delay",
        "z": "3e1fc2edd0bcc68a",
        "name": "",
        "pauseType": "delay",
        "timeout": "3",
        "timeoutUnits": "minutes",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 365,
        "y": 900,
        "wires": [
            [
                "baba0d7ee923723c"
            ]
        ],
        "l": false
    },
    {
        "id": "baba0d7ee923723c",
        "type": "change",
        "z": "3e1fc2edd0bcc68a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "...",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 445,
        "y": 900,
        "wires": [
            [
                "01dfadc1e5b0b83b"
            ]
        ],
        "l": false
    },
    {
        "id": "c685ebf4060b3958",
        "type": "change",
        "z": "3e1fc2edd0bcc68a",
        "name": "",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "Selecciono POS IN",
                "fromt": "str",
                "to": "REALIZANDO RUTINA 1",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "Selecciono POS IN 2",
                "fromt": "str",
                "to": "REALIZANDO RUTINA 2",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 445,
        "y": 940,
        "wires": [
            [
                "01dfadc1e5b0b83b"
            ]
        ],
        "l": false
    },
    {
        "id": "01dfadc1e5b0b83b",
        "type": "ui_text",
        "z": "3e1fc2edd0bcc68a",
        "group": "14ef62444ff5e395",
        "order": 3,
        "width": 5,
        "height": 2,
        "name": "",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 590,
        "y": 920,
        "wires": []
    },
    {
        "id": "4ece1f4c6a341964",
        "type": "inject",
        "z": "3e1fc2edd0bcc68a",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 110,
        "y": 80,
        "wires": [
            [
                "3db3364d45b8ebd7",
                "062703fe337d3b2b",
                "b24a8ac0d7d251fa"
            ]
        ]
    },
    {
        "id": "062703fe337d3b2b",
        "type": "http request",
        "z": "3e1fc2edd0bcc68a",
        "name": "",
        "method": "GET",
        "ret": "bin",
        "paytoqs": "ignore",
        "url": "https://upload.wikimedia.org/wikipedia/commons/thumb/2/2e/Escudo_UD.svg/2118px-Escudo_UD.svg.png",
        "tls": "e3b4dad18defdf91",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 290,
        "y": 120,
        "wires": [
            [
                "d78fd5d2cb5f9ba1"
            ]
        ]
    },
    {
        "id": "d78fd5d2cb5f9ba1",
        "type": "change",
        "z": "3e1fc2edd0bcc68a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "mimetype",
                "pt": "msg",
                "to": "image/jpeg",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 415,
        "y": 120,
        "wires": [
            [
                "27c7edc51ba4311e"
            ]
        ],
        "l": false
    },
    {
        "id": "149c94dbc0bac476",
        "type": "comment",
        "z": "3e1fc2edd0bcc68a",
        "name": "ACERCA DE",
        "info": "",
        "x": 910,
        "y": 20,
        "wires": []
    },
    {
        "id": "196dd3204e46703b",
        "type": "ui_template",
        "z": "3e1fc2edd0bcc68a",
        "group": "25b3154a8a4c7e50",
        "name": "M1",
        "order": 1,
        "width": 8,
        "height": 4,
        "format": "<div style=\"display: flex; justify-content: center;\">\n    <p style=\"text-align: justify;\">La plataforma virtual para la realización de prácticas de laboratorio de automatización de procesos robotizados usando\n    el brazo robótico MITSUBISHI MOVEMASTER RV-M1 guiadas de forma remota. <br> Es un Trabajo de grado  presentado como requisito\n    parcial para optar al título de: Ingeniero en Control y Automatización e Ingeniero en Telecomunicaciones<br> Desarrollado por los estudiantes Rafael Martinez y Thomas Felipe Urueña</p>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 910,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "942cc270c0266799",
        "type": "ui_media",
        "z": "3e1fc2edd0bcc68a",
        "group": "25b3154a8a4c7e50",
        "name": "",
        "width": 3,
        "height": 3,
        "order": 7,
        "category": "logo UD",
        "file": "Escudo_UD.svg.png",
        "layout": "adjust",
        "showcontrols": true,
        "loop": true,
        "onstart": false,
        "muted": false,
        "scope": "local",
        "tooltip": "",
        "x": 1135,
        "y": 100,
        "wires": [
            []
        ],
        "l": false
    },
    {
        "id": "b24a8ac0d7d251fa",
        "type": "http request",
        "z": "3e1fc2edd0bcc68a",
        "name": "",
        "method": "GET",
        "ret": "bin",
        "paytoqs": "ignore",
        "url": "https://upload.wikimedia.org/wikipedia/commons/thumb/2/2e/Escudo_UD.svg/2118px-Escudo_UD.svg.png",
        "tls": "e3b4dad18defdf91",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 940,
        "y": 100,
        "wires": [
            [
                "348dfe9ca5d74781"
            ]
        ]
    },
    {
        "id": "348dfe9ca5d74781",
        "type": "change",
        "z": "3e1fc2edd0bcc68a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "mimetype",
                "pt": "msg",
                "to": "image/jpeg",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1065,
        "y": 100,
        "wires": [
            [
                "942cc270c0266799"
            ]
        ],
        "l": false
    },
    {
        "id": "9d0f55fd66adf800",
        "type": "change",
        "z": "3e1fc2edd0bcc68a",
        "name": "MOV1",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "Selecciono POS IN",
                "fromt": "str",
                "to": "OG",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 370,
        "y": 1380,
        "wires": [
            [
                "60e7d681f2e17659"
            ]
        ]
    },
    {
        "id": "b30f72eca9bb5d63",
        "type": "change",
        "z": "3e1fc2edd0bcc68a",
        "name": "MOV2",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "MJ 0, 50, -60, 70, 20",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 630,
        "y": 1380,
        "wires": [
            [
                "6b1fa4ebedfd2edf"
            ]
        ]
    },
    {
        "id": "f278c0aa375a119f",
        "type": "change",
        "z": "3e1fc2edd0bcc68a",
        "name": "MOV4",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "GC",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 450,
        "y": 1440,
        "wires": [
            [
                "b78467c0212951da"
            ]
        ]
    },
    {
        "id": "b440e3baeebb9cf4",
        "type": "change",
        "z": "3e1fc2edd0bcc68a",
        "name": "MOV5",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "MJ -180, 0, 0, 0, 0",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 710,
        "y": 1440,
        "wires": [
            [
                "bddcd3cbaa6af0e5"
            ]
        ]
    },
    {
        "id": "4afbf0cde7759bf6",
        "type": "change",
        "z": "3e1fc2edd0bcc68a",
        "name": "MOV3",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "MJ 100, 0, 0, 0, 0",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 890,
        "y": 1380,
        "wires": [
            [
                "da6dd42aca23af7d"
            ]
        ]
    },
    {
        "id": "60e7d681f2e17659",
        "type": "delay",
        "z": "3e1fc2edd0bcc68a",
        "name": "",
        "pauseType": "delay",
        "timeout": "15",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 500,
        "y": 1380,
        "wires": [
            [
                "b30f72eca9bb5d63",
                "5234ba35fd52f515"
            ]
        ]
    },
    {
        "id": "6b1fa4ebedfd2edf",
        "type": "delay",
        "z": "3e1fc2edd0bcc68a",
        "name": "",
        "pauseType": "delay",
        "timeout": "15",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 760,
        "y": 1380,
        "wires": [
            [
                "4afbf0cde7759bf6",
                "5234ba35fd52f515"
            ]
        ]
    },
    {
        "id": "b78467c0212951da",
        "type": "delay",
        "z": "3e1fc2edd0bcc68a",
        "name": "",
        "pauseType": "delay",
        "timeout": "15",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 580,
        "y": 1440,
        "wires": [
            [
                "b440e3baeebb9cf4",
                "5234ba35fd52f515"
            ]
        ]
    },
    {
        "id": "bddcd3cbaa6af0e5",
        "type": "delay",
        "z": "3e1fc2edd0bcc68a",
        "name": "",
        "pauseType": "delay",
        "timeout": "15",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 860,
        "y": 1440,
        "wires": [
            [
                "16a612327bc9482f",
                "5234ba35fd52f515"
            ]
        ]
    },
    {
        "id": "da6dd42aca23af7d",
        "type": "delay",
        "z": "3e1fc2edd0bcc68a",
        "name": "",
        "pauseType": "delay",
        "timeout": "15",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 320,
        "y": 1440,
        "wires": [
            [
                "f278c0aa375a119f",
                "5234ba35fd52f515"
            ]
        ]
    },
    {
        "id": "42d443621b91812f",
        "type": "inject",
        "z": "3e1fc2edd0bcc68a",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Selecciono POS IN",
        "payloadType": "str",
        "x": 275,
        "y": 1380,
        "wires": [
            [
                "9d0f55fd66adf800"
            ]
        ],
        "l": false
    },
    {
        "id": "16a612327bc9482f",
        "type": "change",
        "z": "3e1fc2edd0bcc68a",
        "name": "MOV6",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "MJ 200, 0, 30, -40, 0",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 310,
        "y": 1500,
        "wires": [
            [
                "5e4a65b032375989"
            ]
        ]
    },
    {
        "id": "5e4a65b032375989",
        "type": "delay",
        "z": "3e1fc2edd0bcc68a",
        "name": "",
        "pauseType": "delay",
        "timeout": "15",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 440,
        "y": 1500,
        "wires": [
            [
                "55dc35113d831622",
                "5234ba35fd52f515"
            ]
        ]
    },
    {
        "id": "55dc35113d831622",
        "type": "change",
        "z": "3e1fc2edd0bcc68a",
        "name": "MOV7",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "GO",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 590,
        "y": 1500,
        "wires": [
            [
                "30d848ffdc546b6b"
            ]
        ]
    },
    {
        "id": "30d848ffdc546b6b",
        "type": "delay",
        "z": "3e1fc2edd0bcc68a",
        "name": "",
        "pauseType": "delay",
        "timeout": "15",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 740,
        "y": 1500,
        "wires": [
            [
                "0e7ecd80322747a2",
                "5234ba35fd52f515"
            ]
        ]
    },
    {
        "id": "0e7ecd80322747a2",
        "type": "change",
        "z": "3e1fc2edd0bcc68a",
        "name": "MOV8",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "OG",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 890,
        "y": 1500,
        "wires": [
            [
                "2a0ada09be2bd12d",
                "78067c49275237b7"
            ]
        ]
    },
    {
        "id": "2a0ada09be2bd12d",
        "type": "debug",
        "z": "3e1fc2edd0bcc68a",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1040,
        "y": 1440,
        "wires": []
    },
    {
        "id": "4ac03c66e63ccab5",
        "type": "delay",
        "z": "3e1fc2edd0bcc68a",
        "name": "",
        "pauseType": "delay",
        "timeout": "3",
        "timeoutUnits": "minutes",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 565,
        "y": 1300,
        "wires": [
            [
                "30449115b3fd69fc"
            ]
        ],
        "l": false
    },
    {
        "id": "30449115b3fd69fc",
        "type": "change",
        "z": "3e1fc2edd0bcc68a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "...",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 645,
        "y": 1300,
        "wires": [
            [
                "01dfadc1e5b0b83b"
            ]
        ],
        "l": false
    },
    {
        "id": "e82e5d94ffac1ae2",
        "type": "change",
        "z": "3e1fc2edd0bcc68a",
        "name": "",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "Selecciono POS IN",
                "fromt": "str",
                "to": "REALIZANDO RUTINA 2",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 645,
        "y": 1340,
        "wires": [
            [
                "01dfadc1e5b0b83b"
            ]
        ],
        "l": false
    },
    {
        "id": "4e5a34427975c6d7",
        "type": "ui_button",
        "z": "3e1fc2edd0bcc68a",
        "name": "",
        "group": "b7dab1aa5303d38f",
        "order": 3,
        "width": 6,
        "height": 1,
        "passthru": false,
        "label": "RUTINA 2",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "Selecciono POS IN 2",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 80,
        "y": 1300,
        "wires": [
            [
                "9d0f55fd66adf800",
                "4ac03c66e63ccab5",
                "e82e5d94ffac1ae2",
                "3f3b4d866b0b9d7d",
                "8194f361d8c821cd",
                "5234ba35fd52f515"
            ]
        ]
    },
    {
        "id": "b6eea73e660328ae",
        "type": "ui_button",
        "z": "3e1fc2edd0bcc68a",
        "name": "",
        "group": "27c97d5860c2afa5",
        "order": 1,
        "width": 6,
        "height": 1,
        "passthru": false,
        "label": "Posicion inicial",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "POS in",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 180,
        "y": 1720,
        "wires": [
            [
                "20f193d076259280"
            ]
        ]
    },
    {
        "id": "67e4edcfea2931c2",
        "type": "ui_button",
        "z": "3e1fc2edd0bcc68a",
        "name": "",
        "group": "27c97d5860c2afa5",
        "order": 2,
        "width": 6,
        "height": 1,
        "passthru": false,
        "label": "Posicion trabajo",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "POS tr",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 180,
        "y": 1760,
        "wires": [
            [
                "20f193d076259280"
            ]
        ]
    },
    {
        "id": "20f193d076259280",
        "type": "change",
        "z": "3e1fc2edd0bcc68a",
        "name": "",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "POS in",
                "fromt": "str",
                "to": "NT",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "POS tr",
                "fromt": "str",
                "to": "OG",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 420,
        "y": 1740,
        "wires": [
            [
                "ef32731a607d3116",
                "af0e38b55de735be",
                "7b65c6b272a685d8",
                "78067c49275237b7"
            ]
        ]
    },
    {
        "id": "2bb900a5737f3e6d",
        "type": "change",
        "z": "3e1fc2edd0bcc68a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 360,
        "y": 1840,
        "wires": [
            [
                "29d7562874ed8e13"
            ]
        ]
    },
    {
        "id": "19fddc8bda22933d",
        "type": "delay",
        "z": "3e1fc2edd0bcc68a",
        "name": "",
        "pauseType": "delay",
        "timeout": "30",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 180,
        "y": 1840,
        "wires": [
            [
                "2bb900a5737f3e6d"
            ]
        ]
    },
    {
        "id": "ef32731a607d3116",
        "type": "ui_text",
        "z": "3e1fc2edd0bcc68a",
        "group": "27c97d5860c2afa5",
        "order": 4,
        "width": 5,
        "height": 2,
        "name": "",
        "label": "text",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 770,
        "y": 1840,
        "wires": []
    },
    {
        "id": "af0e38b55de735be",
        "type": "debug",
        "z": "3e1fc2edd0bcc68a",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 780,
        "y": 1740,
        "wires": []
    },
    {
        "id": "29d7562874ed8e13",
        "type": "ui_text_input",
        "z": "3e1fc2edd0bcc68a",
        "name": "",
        "label": "",
        "tooltip": "",
        "group": "27c97d5860c2afa5",
        "order": 3,
        "width": 6,
        "height": 1,
        "passthru": true,
        "mode": "text",
        "delay": "0",
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 540,
        "y": 1840,
        "wires": [
            [
                "19fddc8bda22933d",
                "ef32731a607d3116",
                "af0e38b55de735be",
                "78067c49275237b7"
            ]
        ]
    },
    {
        "id": "df382b06eb206783",
        "type": "change",
        "z": "3e1fc2edd0bcc68a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "1",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 520,
        "y": 1920,
        "wires": [
            [
                "05e5843c2749ce91"
            ]
        ]
    },
    {
        "id": "05e5843c2749ce91",
        "type": "mqtt out",
        "z": "3e1fc2edd0bcc68a",
        "name": "COM PDM",
        "topic": "teste/mqtt/fotoPL",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "da8eb53ef332f813",
        "x": 695,
        "y": 1920,
        "wires": [],
        "l": false
    },
    {
        "id": "7b65c6b272a685d8",
        "type": "delay",
        "z": "3e1fc2edd0bcc68a",
        "name": "",
        "pauseType": "delay",
        "timeout": "3",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 320,
        "y": 1920,
        "wires": [
            [
                "df382b06eb206783"
            ]
        ]
    },
    {
        "id": "ae31ba6ed5608e0d",
        "type": "ui_media",
        "z": "3e1fc2edd0bcc68a",
        "group": "27c97d5860c2afa5",
        "name": "",
        "width": 0,
        "height": 0,
        "order": 7,
        "category": "",
        "file": "",
        "layout": "adjust",
        "showcontrols": true,
        "loop": true,
        "onstart": false,
        "muted": true,
        "scope": "local",
        "tooltip": "",
        "x": 1210,
        "y": 1800,
        "wires": [
            []
        ]
    },
    {
        "id": "5c071d7de41a84d7",
        "type": "mqtt in",
        "z": "3e1fc2edd0bcc68a",
        "name": "",
        "topic": "teste/mqtt/foto3",
        "qos": "0",
        "datatype": "buffer",
        "broker": "da8eb53ef332f813",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1000,
        "y": 1800,
        "wires": [
            [
                "625bb01fc82df586"
            ]
        ]
    },
    {
        "id": "625bb01fc82df586",
        "type": "change",
        "z": "3e1fc2edd0bcc68a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "mimetype",
                "pt": "msg",
                "to": "image/jpeg",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1115,
        "y": 1800,
        "wires": [
            [
                "ae31ba6ed5608e0d"
            ]
        ],
        "l": false
    },
    {
        "id": "3f3b4d866b0b9d7d",
        "type": "change",
        "z": "3e1fc2edd0bcc68a",
        "name": "",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "Selecciono POS IN",
                "fromt": "str",
                "to": "Esta rutina simula el uso del brazo robótico para realizar el movimiento o traslado de un objeto, el escenario normalmente se encuentra en la industria para la interacción con objetos pesados o peligrosos. En el primer paso el brazo robótico se acerca a objeto y lo sujetara con su pinza. Esta rutina consiste en planificar el movimiento y se determinara la trayectoria óptima para transportar el elemento desde su ubicación actual hasta un punto B. Esta planificación de movimiento se basa en varios factores, como la forma y el peso del objeto, los obstáculos en el camino, y la capacidad de los motores del brazo para moverse en ciertas direcciones. Movimiento hacia el punto B: El brazo robótico comienza a moverse hacia el punto B, siguiendo la trayectoria planificada previamente. Esta trayectoria puede ser rutinaria y permitiría que el proceso pueda ser automatizado Una vez terminada la trayectoria, el elemento será colocado en el punto B; Cuando el brazo robótico llega al punto B, libera el elemento de su pinza y retornará cuidadosamente a su posición inicial y se detendrá",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "Selecciono POS IN 2",
                "fromt": "str",
                "to": "El primer paso para simular la rutina consiste en planifica la trayectoria óptima para la aplicación de la pintura. Esta planificación de la trayectoria se basará en la forma y el tamaño de la superficie a pintar El brazo robótico comenzara a aplicar la pintura en la superficie, siguiendo la trayectoria planificada. Durante este proceso puede ocurrir que el ejercicio sea rutinario y se puede repetir para aplicar múltiples capas de pintura si es necesario para lograr la cobertura deseada. Una vez que se ha completado la tarea, el brazo robótico se detiene y se apaga.",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 260,
        "y": 860,
        "wires": [
            [
                "11860ec353ccd5cd"
            ]
        ]
    },
    {
        "id": "11860ec353ccd5cd",
        "type": "ui_text",
        "z": "3e1fc2edd0bcc68a",
        "group": "f6fc1243836cbf90",
        "order": 2,
        "width": 8,
        "height": 7,
        "name": "",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 430,
        "y": 820,
        "wires": []
    },
    {
        "id": "8194f361d8c821cd",
        "type": "delay",
        "z": "3e1fc2edd0bcc68a",
        "name": "",
        "pauseType": "delay",
        "timeout": "3",
        "timeoutUnits": "minutes",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 220,
        "y": 820,
        "wires": [
            [
                "11860ec353ccd5cd"
            ]
        ]
    },
    {
        "id": "6af555e488d1422a",
        "type": "ui_text",
        "z": "3e1fc2edd0bcc68a",
        "group": "b984c5d5a788d16a",
        "order": 2,
        "width": 6,
        "height": 7,
        "name": "",
        "label": "Para iniciar con esta práctica de laboratorio el primer paso es ubicar el brazo a su posición inicial con el comando NT el cual ya está programado en el botón Posición Inicial. después de esto se enviará un comando OG el cual ubica el brazo en la posición de trabajo y está programado en el botón Posición de Trabajo. estas instrucciones se ven indicadas en el manual del brazo robótico proporcionado por el fabricante y para lo cual es obligación para iniciar la operación.",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 780,
        "y": 2040,
        "wires": []
    },
    {
        "id": "989c8d07dec4aa96",
        "type": "ui_text",
        "z": "3e1fc2edd0bcc68a",
        "group": "49f7744c4bc11d41",
        "order": 2,
        "width": 5,
        "height": 3,
        "name": "...",
        "label": "ahora que identificamos cada motor y cada movimiento del brazo robotico ",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 430,
        "y": 1980,
        "wires": []
    },
    {
        "id": "fcfa243277603970",
        "type": "ui_text",
        "z": "3e1fc2edd0bcc68a",
        "group": "535f5beff829a6bf",
        "order": 2,
        "width": 7,
        "height": 4,
        "name": "",
        "label": "En esta practica se identifican las articulaciones y/o motores que componen el brazo robótico, para eso mediante el comando MJ permitirá realizar el movimiento de cada motor como lo es la base o cintura, hombro, codo, inclinación de muñeca, enrollamiento muñeca/pinza. Utilizando la siguiente cadena de caracteres <MJ 0, 0, 0, 0, 0> donde cada posición de la cadena indica daca articulación como ya se mencionó.",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 1260,
        "y": 240,
        "wires": []
    }
]